{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body %}
<div id="card">
    <form method="post">
        {% if error %}
            {# TODO: Make an error message if incorrect credentials #}
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
        {# <label for="inputUsername">Nom d'utilisateur</label> #}
        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" placeholder="Nom d'utilisateur" class="form-control" autocomplete="username" required autofocus>
        {# <label for="inputPassword">Mot de passe</label> #}
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        <button class="btn btn-lg btn-primary" type="submit">
            Connexion
        </button>
    </form>

        <p>Pas encore de compte ? <a href="{{ path('app_register') }}">S'inscrire</a></p>
</div>
{% endblock %}
