{% extends'base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('game') }}
    <script>
      const mercureHubUrl = new URL('{{MERCURE_PUBLIC_URL}}/.well-known/mercure')
      mercureHubUrl.searchParams.append('topic', '{{ game }}')

      const gameCode = '{{ gameCode }}'
      const playerType = '{{ playerType }}'
    </script>
{% endblock %}