{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('register') }}
{% endblock %}

{% block body %}
<div id="card">
    

    {{ form_start(registrationForm) }}
        <h1>S'inscrire</h1>
        {{ form_row(registrationForm.username, {'attr': {
            'placeholder': 'Nom d\'utilisateur'
        }}) }}
        {{ form_row(registrationForm.plainPassword, {'attr': {
            'placeholder': 'Mot de passe'
        }}) }}

        <button type="submit" class="btn">S'inscrire</button>
    {{ form_end(registrationForm) }}

    <p>Vous avez déjà un compte ? <a href="{{ path('app_login') }}">Se connecter</a></p>

</div>
{% endblock %}
