{% extends 'base.html.twig' %}

{% block title %}Salle d'attente{% endblock %}

{% block body %}
  <div class="container">
    <div id="create-join-form">
      <button id="createGame">Créer une partie</button>
      <div id="cardRejoindre">
        <input id="joinLobbyInput" type="text" />
        <button id="joinLobbySubmit">Rejoindre</button>
      </div>
    </div>
    <div id="waiting-lobby">
      <p>Code de la partie : <span id="game-code"></span></p>
      <p>En attente d'un joueur</p>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        const createGameButton = document.getElementById('createGame')
        const joinLobbyButton = document.getElementById('joinLobbySubmit')
        const joinLobbyInput = document.getElementById('joinLobbyInput')

        createGameButton.addEventListener('click', () => {
          fetch('/lobby/create', {
            method: 'POST',
          }).then(response => response.json()
          ).then(result => {
            console.log(result)

            const url = new URL('{{MERCURE_PUBLIC_URL}}/.well-known/mercure');
            url.searchParams.append('topic', `{{MERCURE_PUBLIC_URL}}/games/${result.code}`);

            const eventSource = new EventSource(url);

            document.getElementById('create-join-form').style.display = 'none'
            document.getElementById('waiting-lobby').style.display = 'block'
            document.getElementById('game-code').innerText = result.code

            eventSource.onmessage = event => {
              // Will be called every time an update is published by the server
              window.location.href = `/game/${result.code}`
            }
          }).catch(error => {
            console.log(error)
          })
        })

        joinLobbyButton.addEventListener('click', () => {
          const data = new FormData()
          data.append('gameCode', joinLobbyInput.value)

          fetch('/lobby/join', {
            method: 'POST',
            body: data
          }).then(response => response.json()
          ).then(result => {
            window.location.href = `/game/${joinLobbyInput.value}`
          })
        })
      })
    </script>
{% endblock %}