@import './lobby';

html{
    height: 100%
}

body{
    margin: 0;
    background: rgb(43, 43, 43);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
