
html{
  font-family: sans-serif;

    .container {
      

      #create-join-form{
        background-color: #3d3d3d;
        display: flex;
        width: 25em;
        height: 15em;
        flex-direction: column;
        border-radius: 8px;
        box-shadow: 5px 5px 10px -1px #191919;
        justify-content: center;
        align-items: center;
        gap: 4em;
      

      button{
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        background-color: #4f9c5c;
        color: white;
        padding: .6em 0.4em .6em 0.4em;
        border-radius: 4px;
        font-weight: 600;
        font-size: 10pt;
        width: 40%;
      }
      #cardRejoindre{

        display: flex;
        flex-direction: column;
        width: 40%;
        gap: .15em;

        input{
          // width: 100%;
          outline: none;
          border: none;
          border-radius: 4px;
          padding: .3em;
        }

        button{
          width: 100%;
        }

      }

    } 

    #waiting-lobby {
      background-color: #3d3d3d;
      text-align: center;
      padding: 5em;
      color: white;
      display: none;
      border-radius: 8px;
      box-shadow: 5px 5px 10px -1px #191919;
    }
  }

}