html{
    display: flex;
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    background: rgb(43, 43, 43);
    font-family: sans-serif;

    #card{
        background-color: #3d3d3d;
        padding: 5em;
        border-radius: 8px;
        box-shadow: 5px 5px 10px -1px #191919;


        p{
            color:white;

            a{
                text-decoration: none;
                color: #4f9c5c
            }
        }
    }

    form{
        color: white;
        display: flex;
        flex-direction: column;
        gap: 1em;
        align-items: center;

        input{
            width: 75%;
            padding: 1em 0.5em 1em 0.5em;
            border-radius: 5px;
            outline: none;
            border: none;
        }

        button{
            background: none;
            color: inherit;
            border: none;
            padding: 0;
            font: inherit;
            cursor: pointer;
            outline: inherit;
            background-color: #4f9c5c;
            color: white;
            padding: 0.4em 0.8em 0.4em 0.8em;
            border-radius: 4px;
            font-weight: 600;
        }

        h1{
            text-align: center;
        }
    }
}